In [13]:
# generate random integer values
from numpy.random import seed
from numpy.random import randint
import pandas as pd
import numpy as np
# seed random number generator
seed(1)
# generate some integers
# values = randint(0, 10, 20)
# print(values)

In [10]:
gender = randint(1, 3, 130)
print(gender)

[1 2 1 1 2 2 2 2 2 1 1 1 2 1 2 2 1 2 2 1 1 2 2 1 2 2 2 2 1 2 1 1 1 1 1 2 1
 1 1 1 2 1 1 2 1 2 2 1 2 1 2 1 2 1 1 1 1 2 1 2 2 2 2 2 1 2 1 2 1 1 1 1 2 2
 1 1 1 1 2 1 1 2 2 2 2 1 2 2 1 2 1 1 2 1 1 1 2 2 2 2 1 1 1 1 2 1 2 2 1 1 2
 2 1 2 2 1 1 1 1 2 1 1 1 1 2 1 2 1 1 2]

In [11]:
province = randint(1, 9, 130)
print(province)

[2 6 1 3 4 7 7 1 7 5 8 4 4 8 4 1 7 4 2 7 3 1 7 2 7 5 3 4 5 6 5 7 3 7 2 3 7
 8 6 1 8 6 4 6 4 3 7 1 7 1 1 1 7 8 3 5 1 8 5 2 3 2 3 5 2 4 6 2 6 2 3 7 5 2
 1 7 8 3 6 2 3 1 1 6 4 5 2 6 1 5 1 7 4 3 5 4 3 5 3 5 1 1 6 8 5 3 3 5 3 7 4
 6 1 8 1 5 4 5 8 4 4 5 1 7 8 6 4 6 2 5]

In [12]:
course = randint(1, 3, 130)
print(course)

[2 1 2 1 1 1 1 1 1 1 1 1 1 2 1 2 1 1 2 2 1 1 2 2 2 1 2 2 1 2 2 2 2 1 2 1 2
 2 2 2 1 2 2 2 1 1 2 1 2 2 1 1 2 1 1 1 1 1 1 2 2 2 1 1 2 1 2 1 1 2 2 2 1 2
 1 1 1 2 2 2 2 1 2 1 2 1 1 1 1 2 1 1 1 2 2 2 2 1 1 1 2 1 1 1 2 2 1 1 1 2 2
 1 2 2 2 2 2 2 1 2 2 1 1 2 2 2 2 2 2 1]

In [9]:
age = randint(18, 35, 130)
print(age)

[19 20 30 25 20 28 18 27 24 20 25 25 34 33 23 28 34 23 31 19 28 18 25 18
 32 31 29 24 31 33 27 20 25 23 22 23 26 31 33 31 26 32 31 34 28 31 21 20
 32 32 18 29 21 19 20 34 18 28 26 31 21 18 26 31 33 27 18 30 28 30 33 32
 29 25 21 33 32 20 22 22 18 21 23 24 33 25 23 33 18 28 28 20 20 22 18 32
 25 21 24 27 28 31 24 24 34 34 30 27 18 34 27 34 33 28 22 32 32 21 34 32
 33 25 32 31 33 32 30 23 30 30]

In [19]:
moringa =  {
    "age": age,
    "gender":gender,
    "course":course,
    "province":province
}
moringa

df = pd.DataFrame(moringa, columns = ["age", "gender", "course", "province"])
df.head()

   age  gender  course  province
0   19       1       2         2
1   20       2       1         6
2   30       1       2         1
3   25       1       1         3
4   20       2       1         4

# Descriptive Statistics

State the statistics that are a result of your data collection: sample size(s), sample
mean(s) or proportion(s), and sample standard deviation(s).

In [20]:
df.shape

(130, 4)

In [21]:
df.describe()

              age      gender      course    province
count  130.000000  130.000000  130.000000  130.000000
mean    26.607692    1.461538    1.507692    4.315385
std      5.197638    0.500447    0.501875    2.244838
min     18.000000    1.000000    1.000000    1.000000
25%     22.000000    1.000000    1.000000    2.250000
50%     27.000000    1.000000    2.000000    4.000000
75%     31.000000    2.000000    2.000000    6.000000
max     34.000000    2.000000    2.000000    8.000000